<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">


	<main>	 
			
		<div class="jumbotron vertical-center">
			<div class="container text-center">
			<img src="images/eventhor_logo.jpg" alt="Eventhor is power" width="200" height="200">
			<br><br>
			<h1 class="text-center">Eventhor</h1>
			<br>
			<p class="text-center">The integrated app to create and manage your events within your slack groups! Create an event through slack, then edit it through this web page!</p>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>