<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">


	<main>	 
		<div class="row">
			<div class="col-sm-2">
			<img src="eventhor_logo.jpg" class="img-rounded" alt="Eventhor is power" width="304" height="304">
				<div class="col-sm-6">
					<div class="jumbotron">
						<h1>Eventhor</h1>
						<p>The integrated app to create and manage your events within your slack groups! Create an event through slack, then edit it through this web page!</p>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>